.myLink {
  text-decoration: none;
  color: #838383!important;
}

.myLink:hover {
  text-decoration: none;
  color: white!important;
}

.bibi {
  font-size: 50px;
}

.bi-facebook {
  color: #151515;
}

.bi-twitter {
  color: #151515;
}

.bi-github {
  color: #151515;
}

.bi-telegram {
  color: #151515;
}

.bi-whatsapp {
  color: #151515;
}

.bi-browser-chrome {
  color: #151515;
}

.list-group-item:hover {
  background-color: #212529;
  color: white;
}

.list-group-item:hover a {
  color: white;
}

.list-group-item:hover i {
  color: white;
}
