.banner-hero {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/69/523/577/programmers-life-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    background-position: center;
}

.profile-hero {
    background-image: url('/profile.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    background-position: center;
    border: 4px solid #fff;
    position: absolute;
    margin: -70px 0px;
}